/* ----------------top navigation bar------------------- **/

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    padding-top: 4px;
    padding-left: 5px;
    margin: 4px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #009fe3;
    color: white;
  }

  .topnav_img {
    float: right !important;
    padding: 0% !important;
    margin-right: 5px;
  }

/* ----------------body/background------------------- **/
body {
    background-image: url('img.png');
    background-size:cover;
    margin:0;
    padding:0;
  }

/* ---------------- sidebar ------------------- **/
.sidebar {
    float: right;
    width: 15%; 
    background-color: white; 
    padding: 10px;
    border: 3px solid #009fe3;
}

#Warning p{
    font-size: 10px;
}

/* ---------------- links ------------------- **/
.links:link{
    color: black;
    text-decoration:underline;
}

.links:visited{
    color: black;
    text-decoration:none;
}

.links:hover{
    color: #009fe3;
}

.links:active {
    color: #009fe3;
}

/* ---------------- Images ------------------- **/
.T_img {
  width: 250px;
  border: 5px solid #555;
}

/* ----------------- content holders --------------------**/
#container {
    padding: 10px;
    margin-left: 5%;
    background-color: white;
    margin-right: 60%;
    border: 3px solid #009fe3;
  }

#main {
    margin-left: 5%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-right: 60%;
}

#other {
  margin-left: 5%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin-right: 60%;
}

/* ----------------- footer --------------------**/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    bottom: 0;
    padding: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border-top:3px solid #009fe3;
    border-left:3px solid #009fe3;
    border-right:3px solid #009fe3;
    position:fixed;
    width: auto
}

footer h4{
    color: #009fe3;
    margin: 0px;
}

footer p{
    color: white;
    margin: 0px;
}
